.button-add{
    width: 60%;
    background-color: #3b71ca;
    color: white;
    border-radius: 0.25rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    padding: 1.5rem 0.675rem !important;
}

.button-delete{
    width: 60%;
    background-color: #e9e332;
    color: white;
    border-radius: 0.25rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    padding: 1.5rem 0.675rem !important;
}

.span{
    width: 60%;
    background-color: #44e932;
    color: white;
    border-radius: 0.25rem;
    margin-top: 3rem;
    font-size: 1.2rem;
    padding: 1.5rem 0.675rem !important;
} 
}